<div class="c-midContent--rightTitle">
	<p>How does it work?</p>
</div>
<div class="c-midContent--rightServices">
	<div>
		<div class="c-midContent--rightImg">
			<img src="/images/service_step_1.png" alt="Step 1" />
		</div>
		<p>Schedule an appointment for the desired service</p>
	</div>
	<div>
		<div class="c-midContent--rightImg">
			<img src="/images/service_step_2.png" alt="Step 2" />
		</div>
		<p>We confirm the time and place and drive to you</p>
	</div>
	<div>
		<div class="c-midContent--rightImg">
			<img src="/images/service_step_3.png" alt="Step 3" />
		</div>
		<p>Sit back while your pet is cleaned and pampered</p>
	</div>
	<div>
		<div class="c-midContent--rightImg">
			<img src="/images/service_step_4.png" alt="Step 4" />
		</div>
		<p>Your best friend is Spick n' Span!</p>
	</div>
</div>























