	/* CSS Reset */
		* {margin: 0; padding: 0; border: 0; vertical-align: baseline;font-family: Roboto, Arial, sans-serif;font-size: 16px;}
		article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
		body {line-height: 1;}
		ol, ul {list-style: none;}
		blockquote, q {quotes: none;}
		blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
		table {border-collapse: collapse; border-spacing: 0;}

	/* Responsive Objects */
		audio, canvas, embed, iframe, img, object, video {
			max-width: 100%;
		}
		
	/* General Typography (b, em, i, strong, h1, h2, h3, h4, h5, h6, p) */
		b, strong {font-weight: bold;}
		i, em {font-style: italic;}

		h1 {font-size: 2em;}
		h2 {font-size: 1.5em;}
		h3 {font-size: 1.25em;}
		h4 {font-size: 1.125em;}
		h5 {font-size: 1.0625em;}
		h6 {font-size: 1em;}

		p {}
		

	html {
		height: 100%;
		width: 100%;
	}
	
	.c-content {
		height: 100%;
		width: 100%;
		max-width: 72em;
		position: relative;
		margin: auto;
		display: flex;
		flex-direction: column;
	}
	

	
	
	.c-midContent {
		display: flex;
		height: 10em;
		width: 100%;
		flex-grow: 1;
		
	}	
	.c-midContent--left {
		width:25%;
	}
	.c-midContent--leftImg1 {
		padding: 10px;
	}
	.c-midContent--leftImg2 {
		padding: 10px;
	}
	.c-midContent--leftImg2 > img {
		width: 100%;
	}
	
	
	.c-midContent--right {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		width: 75%;
	}
	.c-midContent--rightTitle {
		padding: 2em 0 2em 0;
	}
	.c-midContent--rightTitle > p {
		font-size: 2em;
		text-align: center;
	}
	.c-midContent--rightServices {
		display: flex;
		justify-content: space-between;
		padding: 0 3em 0 3em;
	}
	.c-midContent--rightServices > div {
		flex: 0 0 20%;
	}
	.c-midContent--rightServices > div > p {
		line-height: 1.2;
		padding-top: 1em;
		text-align: center;
		font-size: 14px;
	}
	.c-midContent--rightImg {
	
	}
	
	
	
	


	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	