	.c-footer {
		width: 100%;
	}
	.c-footer-box {
		float: right;
		width: 75%;
		background-color: #b8ebb3;
		padding: 1em;
		box-sizing: border-box;
	}
	.c-footer-box > p {
		color: #5e6668;
		font-size: 12px;
		text-align: center;
	}