	.c-head {
		position: relative;
		width: 100%;
	}
	.c-head--background {
		width: calc(100vw);
		max-width: 100%;
		height: 100%;
		background: url(/images/HeaderImage-5.png);
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 100;
		position: absolute;	
	}
	.c-head--menu {
		position: relative;
		background-color: b8ebb3;
		height: 10em;
		height: calc(13vw);
		max-height: 10em;
		width: 100%;
	}
	.c-head--menuRight {
		float: right;
		width: 45%;
		height: 100%;
	}
	.c-head--menuItems {
		display: flex;
	}
	.c-head--menuSpacer {
		height: 50%;
	}
	.c-head--menuItems > div {
		flex: 1 1 20%;
		display: flex;
		height: 50%;
	}
	.c-head--menuItems > div > a {
		text-transform: uppercase;
		text-decoration: none;
		color: black;
		text-align: center;
		margin: auto;
		font-size: 1.5em;
		font-weight: bold;
		cursor: pointer;
		z-index: 1000;
		font-size: 16px;
		font-size: calc(1vw + 5px);
	}
	.c-head--banner {
		position: relative;
		height: calc(22.5vw);
		max-height: 16.5em;
		width: 100%;
	}
	.c-head--bannerRight {
		float: right;
		height: 100%;
		width: 75%;
		background: url("/images/banner.jpg");
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
		align-items: center;
	}
	.c-head--absDiv {
		position: absolute;
		bottom: 1em;
		left: 3%;
		z-index: 300;
	}
	.c-head--absDivDog {
		width: 17%;
	}
	.c-head--bannerRightText {
		width: 40%;
		margin: auto 0 auto 0;
		padding-left: 1em;
	}
	.c-head--bannerRightText > p {
		text-align: center;
		color: white;
		font-size: calc(4vw);
		text-shadow: 2px 2px #000;
	}
	
	
	
@media screen and (min-width: 1000px) {
	.c-head--bannerRightText > p {
		font-size: 2.5em;
	}
}
